<ion-header class="bg_transparent" collapse="fade">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            {{"ride_history" | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg_color" fullscreen>
    <ion-list lines="none">
        <ion-item class="animate__animated animate__fadeInUp" (click)="ride_info()">
            <div class="item_inner">
                <div class="item_header d-flex">
                    <div class="text_box">
                        <h2>Ekobike ride BK2145</h2>
                        <h3>12 Aug 2022, 06:53 pm</h3>
                    </div>
                    <div class="img_box end">
                        <img src="assets/images/banner_img2.png" class="animate__animated animate__fadeInRight">
                    </div>
                </div>

                <div class="item_content">
                    <ion-row>
                        <ion-col size="3">
                            <h2 class="d-flex">
                                <ion-icon class="zmdi zmdi-bike ion-text-start"></ion-icon>
                                6.3 km
                            </h2>
                        </ion-col>
                        <ion-col size="4">
                            <h2 class="d-flex">
                                <ion-icon class="zmdi zmdi-watch ion-text-start"></ion-icon>
                                08:36 min
                            </h2>
                        </ion-col>
                        <ion-col size="3">
                            <h2 class="d-flex">
                                <ion-icon class="zmdi zmdi-balance-wallet ion-text-start"></ion-icon>
                                ₦12.50
                            </h2>
                        </ion-col>
                    </ion-row>
                </div>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp" (click)="ride_info()">
            <div class="item_inner">
                <div class="item_header d-flex">
                    <div class="text_box">
                        <h2>Ekobike ride BK2058</h2>
                        <h3>10 Aug 2022, 05:49 pm</h3>
                    </div>
                    <div class="img_box end">
                        <img src="assets/images/banner_img2.png" class="animate__animated animate__fadeInRight">
                    </div>
                </div>

                <div class="item_content">
                    <ion-row>
                        <ion-col size="3">
                            <h2 class="d-flex">
                                <ion-icon class="zmdi zmdi-bike ion-text-start"></ion-icon>
                                9.5 km
                            </h2>
                        </ion-col>
                        <ion-col size="4">
                            <h2 class="d-flex">
                                <ion-icon class="zmdi zmdi-watch ion-text-start"></ion-icon>
                                16:03 min
                            </h2>
                        </ion-col>
                        <ion-col size="3">
                            <h2 class="d-flex">
                                <ion-icon class="zmdi zmdi-balance-wallet ion-text-start"></ion-icon>
                                ₦18.50
                            </h2>
                        </ion-col>
                    </ion-row>
                </div>
            </div>
        </ion-item>


        <ion-item class="animate__animated animate__fadeInUp" (click)="ride_info()">
            <div class="item_inner">
                <div class="item_header d-flex">
                    <div class="text_box">
                        <h2>Ekobike ride BK2145</h2>
                        <h3>8 Aug 2022, 04:30 am</h3>
                    </div>
                    <div class="img_box end">
                        <img src="assets/images/banner_img2.png" class="animate__animated animate__fadeInRight">
                    </div>
                </div>

                <div class="item_content">
                    <ion-row>
                        <ion-col size="3">
                            <h2 class="d-flex">
                                <ion-icon class="zmdi zmdi-bike ion-text-start"></ion-icon>
                                9.5 km
                            </h2>
                        </ion-col>
                        <ion-col size="4">
                            <h2 class="d-flex">
                                <ion-icon class="zmdi zmdi-watch ion-text-start"></ion-icon>
                                16:03 min
                            </h2>
                        </ion-col>
                        <ion-col size="3">
                            <h2 class="d-flex">
                                <ion-icon class="zmdi zmdi-balance-wallet ion-text-start"></ion-icon>
                                ₦18.50
                            </h2>
                        </ion-col>
                    </ion-row>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="ride_info()">
            <div class="item_inner">
                <div class="item_header d-flex">
                    <div class="text_box">
                        <h2>Ekobike ride BK2145</h2>
                        <h3>12 Aug 2022, 06:53 pm</h3>
                    </div>
                    <div class="img_box end">
                        <img src="assets/images/banner_img2.png" class="animate__animated animate__fadeInRight">
                    </div>
                </div>

                <div class="item_content">
                    <ion-row>
                        <ion-col size="3">
                            <h2 class="d-flex">
                                <ion-icon class="zmdi zmdi-bike ion-text-start"></ion-icon>
                                6.3 km
                            </h2>
                        </ion-col>
                        <ion-col size="4">
                            <h2 class="d-flex">
                                <ion-icon class="zmdi zmdi-watch ion-text-start"></ion-icon>
                                08:36 min
                            </h2>
                        </ion-col>
                        <ion-col size="3">
                            <h2 class="d-flex">
                                <ion-icon class="zmdi zmdi-balance-wallet ion-text-start"></ion-icon>
                                ₦12.50
                            </h2>
                        </ion-col>
                    </ion-row>
                </div>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp" (click)="ride_info()">
            <div class="item_inner">
                <div class="item_header d-flex">
                    <div class="text_box">
                        <h2>Ekobike ride BK2058</h2>
                        <h3>10 Aug 2022, 05:49 pm</h3>
                    </div>
                    <div class="img_box end">
                        <img src="assets/images/banner_img2.png" class="animate__animated animate__fadeInRight">
                    </div>
                </div>

                <div class="item_content">
                    <ion-row>
                        <ion-col size="3">
                            <h2 class="d-flex">
                                <ion-icon class="zmdi zmdi-bike ion-text-start"></ion-icon>
                                9.5 km
                            </h2>
                        </ion-col>
                        <ion-col size="4">
                            <h2 class="d-flex">
                                <ion-icon class="zmdi zmdi-watch ion-text-start"></ion-icon>
                                16:03 min
                            </h2>
                        </ion-col>
                        <ion-col size="3">
                            <h2 class="d-flex">
                                <ion-icon class="zmdi zmdi-balance-wallet ion-text-start"></ion-icon>
                                ₦18.50
                            </h2>
                        </ion-col>
                    </ion-row>
                </div>
            </div>
        </ion-item>


        <ion-item class="animate__animated animate__fadeInUp" (click)="ride_info()">
            <div class="item_inner">
                <div class="item_header d-flex">
                    <div class="text_box">
                        <h2>Ekobike ride BK2145</h2>
                        <h3>8 Aug 2022, 04:30 am</h3>
                    </div>
                    <div class="img_box end">
                        <img src="assets/images/banner_img2.png" class="animate__animated animate__fadeInRight">
                    </div>
                </div>

                <div class="item_content">
                    <ion-row>
                        <ion-col size="3">
                            <h2 class="d-flex">
                                <ion-icon class="zmdi zmdi-bike ion-text-start"></ion-icon>
                                9.5 km
                            </h2>
                        </ion-col>
                        <ion-col size="4">
                            <h2 class="d-flex">
                                <ion-icon class="zmdi zmdi-watch ion-text-start"></ion-icon>
                                16:03 min
                            </h2>
                        </ion-col>
                        <ion-col size="3">
                            <h2 class="d-flex">
                                <ion-icon class="zmdi zmdi-balance-wallet ion-text-start"></ion-icon>
                                ₦18.50
                            </h2>
                        </ion-col>
                    </ion-row>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="ride_info()">
            <div class="item_inner">
                <div class="item_header d-flex">
                    <div class="text_box">
                        <h2>Ekobike ride BK2145</h2>
                        <h3>12 Aug 2022, 06:53 pm</h3>
                    </div>
                    <div class="img_box end">
                        <img src="assets/images/banner_img2.png" class="animate__animated animate__fadeInRight">
                    </div>
                </div>

                <div class="item_content">
                    <ion-row>
                        <ion-col size="3">
                            <h2 class="d-flex">
                                <ion-icon class="zmdi zmdi-bike ion-text-start"></ion-icon>
                                6.3 km
                            </h2>
                        </ion-col>
                        <ion-col size="4">
                            <h2 class="d-flex">
                                <ion-icon class="zmdi zmdi-watch ion-text-start"></ion-icon>
                                08:36 min
                            </h2>
                        </ion-col>
                        <ion-col size="3">
                            <h2 class="d-flex">
                                <ion-icon class="zmdi zmdi-balance-wallet ion-text-start"></ion-icon>
                                ₦12.50
                            </h2>
                        </ion-col>
                    </ion-row>
                </div>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp" (click)="ride_info()">
            <div class="item_inner">
                <div class="item_header d-flex">
                    <div class="text_box">
                        <h2>Ekobike ride BK2058</h2>
                        <h3>10 Aug 2022, 05:49 pm</h3>
                    </div>
                    <div class="img_box end">
                        <img src="assets/images/banner_img2.png" class="animate__animated animate__fadeInRight">
                    </div>
                </div>

                <div class="item_content">
                    <ion-row>
                        <ion-col size="3">
                            <h2 class="d-flex">
                                <ion-icon class="zmdi zmdi-bike ion-text-start"></ion-icon>
                                9.5 km
                            </h2>
                        </ion-col>
                        <ion-col size="4">
                            <h2 class="d-flex">
                                <ion-icon class="zmdi zmdi-watch ion-text-start"></ion-icon>
                                16:03 min
                            </h2>
                        </ion-col>
                        <ion-col size="3">
                            <h2 class="d-flex">
                                <ion-icon class="zmdi zmdi-balance-wallet ion-text-start"></ion-icon>
                                ₦18.50
                            </h2>
                        </ion-col>
                    </ion-row>
                </div>
            </div>
        </ion-item>


        <ion-item class="animate__animated animate__fadeInUp" (click)="ride_info()">
            <div class="item_inner">
                <div class="item_header d-flex">
                    <div class="text_box">
                        <h2>Ekobike ride BK2145</h2>
                        <h3>8 Aug 2022, 04:30 am</h3>
                    </div>
                    <div class="img_box end">
                        <img src="assets/images/banner_img2.png" class="animate__animated animate__fadeInRight">
                    </div>
                </div>

                <div class="item_content">
                    <ion-row>
                        <ion-col size="3">
                            <h2 class="d-flex">
                                <ion-icon class="zmdi zmdi-bike ion-text-start"></ion-icon>
                                9.5 km
                            </h2>
                        </ion-col>
                        <ion-col size="4">
                            <h2 class="d-flex">
                                <ion-icon class="zmdi zmdi-watch ion-text-start"></ion-icon>
                                16:03 min
                            </h2>
                        </ion-col>
                        <ion-col size="3">
                            <h2 class="d-flex">
                                <ion-icon class="zmdi zmdi-balance-wallet ion-text-start"></ion-icon>
                                ₦18.50
                            </h2>
                        </ion-col>
                    </ion-row>
                </div>
            </div>
        </ion-item>
    </ion-list>
</ion-content>