<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="bg_white" fullscreen>
    <div class="banner">
        <img src="assets/images/refer_and_earn_light.png" class="lightThemeImg">
        <img src="assets/images/refer_and_earn_dark.png" class="darkThemeImg">
    </div>

    <div class="container">
        <h1 class="animate__animated animate__fadeInUp">{{'refer_app_to_friends_and_get_up_to' | translate}} ₦30</h1>
        <p class="animate__animated animate__fadeInUp">
            {{'when_they_sign_up_usin_link_you_will_get' | translate}}
        </p>
        <h3 class="d-flex animate__animated animate__fadeInUp">
            <ion-icon class="zmdi zmdi-circle"></ion-icon>
            ₦10 in wallet when sign up
        </h3>
        <h3 class="d-flex animate__animated animate__fadeInUp">
            <ion-icon class="zmdi zmdi-circle"></ion-icon>
            ₦20 when they book first ride
        </h3>
        <div class="btn_box">
            <ion-button size="large" shape="block" class="btn animate__animated animate__fadeInUp">
                <ion-icon class="zmdi zmdi-whatsapp ion-icon-start"></ion-icon>
                {{'share_on' | translate}} WhatsApp
            </ion-button>
            <ion-button size="large" shape="block" class="btn share_link animate__animated animate__fadeInUp">
                <ion-icon class="zmdi zmdi-share ion-icon-start"></ion-icon>
                {{'share_link' | translate}}
            </ion-button>
        </div>

    </div>
</ion-content>