ion-card {
    background: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: calc(100% - 50px);
    height: fit-content;
    box-shadow: none;
    border-radius: 0;
    img {
        margin: 0 auto;
        margin-bottom: 24px;
        width: 35px;
    }
    h1 {
        margin: 0;
        color: var(--text-dark);
        font-weight: 600;
        font-size: 1.4rem;
        padding-bottom: 10px;
        width: 100%;
        text-align: center;
    }
    h2 {
        margin: 0;
        color: var(--text-light);
        font-size: 1.1rem;
        width: 100%;
        text-align: center;
    }
}

ion-footer {
    background: var(--bg-white);
    border-radius: 30px 30px 0 0;
    padding: 35px 25px 40px 25px;
    box-shadow: 0 22px 65px 10px rgb(0 0 0 / 20%);
    --animate-duration: 0.3s;
    img {
        margin: 0 auto;
        width: 125px;
        margin-bottom: 20px;
    }
    h3 {
        margin: 0;
        color: var(--text-dark);
        font-size: 0.85rem;
        width: 100%;
        text-align: center;
        line-height: 21px;
    }
}